In [11]:
from src.Data_quality_and_anomaly_detection.componenets.data_preprocessing import DataPreprocessing
import pandas as pd

In [12]:
datapreprocessing = DataPreprocessing(output_path = "raw_csv")
csv_path = datapreprocessing.convert_excel_to_csv()

In [13]:
df = pd.read_csv(csv_path)

In [14]:
df.shape

(541909, 8)

In [15]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [17]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [18]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [19]:
missing_df = df[df.isnull().any(axis=1)]

In [20]:
missing_df.shape

(135080, 8)

In [21]:
missing_df.loc[:,'CustomerID'] = None
missing_df.loc[:,"Description"] = None

C:\Users\shiva\AppData\Local\Temp\ipykernel_3320\4010251399.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  missing_df.loc[:,'CustomerID'] = None

In [22]:
df["null_count"]  = df.isnull().sum(axis=1
                                    )

In [23]:
df["null_count"].sum()

np.int64(136534)

In [24]:
missing_df.shape[0]

135080

In [28]:
min_null_column = 1
batch_size = 5000
# count null per rows 
df["null_count"]  = df.isnull().sum(axis=1)

# selec rows with atleast missing nulls
missing_df = df[df['null_count']>=min_null_column]

if missing_df.empty:
    pass

# Focus on known problematic column
missing_df.loc[:,'CustomerID'] = None
missing_df.loc[:,'Description'] = None

#Sample fixed batch size
missing_batch  =  missing_df.sample( n = min(batch_size,missing_df.shape[0]),
                                    random_state= 42)
missing_batch.drop(columns=["null_count"], inplace= True)

C:\Users\shiva\AppData\Local\Temp\ipykernel_4304\108285536.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  missing_df.loc[:,'CustomerID'] = None

In [29]:
missing_batch.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
107790,545464,22624,None,1,2011-03-03 09:10:00,8.50,None,United Kingdom
181708,552508,22998,None,2,2011-05-09 16:27:00,0.83,None,United Kingdom
61217,541424,22335,None,1,2011-01-17 17:57:00,1.25,None,United Kingdom
169305,551173,84970S,None,5,2011-04-26 16:54:00,2.08,None,United Kingdom
238450,557938,23205,None,1,2011-06-23 15:35:00,1.63,None,United Kingdom

In [30]:
# get invalid values
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,null_count
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0

In [35]:
len(df[df['UnitPrice']<0])

2

In [36]:
max(df['Quantity'])

80995

In [8]:
from src.Data_quality_and_anomaly_detection.componenets.data_batch_generator import DataBatchGenerator
import pandas as pd
bacthgenerator = DataBatchGenerator()
missing_schema_path = bacthgenerator.create_missing_schema_batch()
missing_df = pd.read_csv(missing_schema_path)

In [9]:
missing_file = bacthgenerator.create_missing_value_batch()
missing_df = pd.read_csv(missing_file)

c:\users\shiva\desktop\placement_preparation\git_repository\data_quality_and_anomaly_detection_system\src\Data_quality_and_anomaly_detection\componenets\data_batch_generator.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.

In [10]:
missing_df.isnull().sum()

InvoiceNo         0
StockCode         0
Description    5000
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID     5000
Country           0
dtype: int64

In [25]:
total_rows = len(missing_df)

In [26]:
total_rows

135080

In [27]:
5000/135080

0.03701510216168197